body {
    background-color: beige;
}

.hide {
    display: none;
}

.current img {
    display: block;
    margin: auto;
    max-height: 125px;
    max-width: 125px;

}

.current h2 {
    text-align: center;
    margin: 4px;
    color: lightgray;
    font-size: 35px;
}

.history {
    width: 100%;
}