body {
    background-color: beige;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.current img {
    display: block;
    margin: auto;
    max-height: 125px;
    max-width: 125px;

}

.current h2 {
    text-align: center;
    margin: 4px;
    font-size: 35px;
}

.history {
    width: 100%;
}

.orange {
    background-color: orange;
}

.scroll {
    max-height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #a2aebb;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

@media screen and (max-width: 768px) {
    .adjust {
        flex-direction: column;
        text-align: center;
    }
}